<div class="flex items-center justify-center min-h-screen bg-gray-800 text-gray-400">
    <div class="w-full max-w-4xl p-8 flex flex-col justify-center items-center">
        <div class="rating-list flex-grow w-full">
            <div class="grid grid-cols-1 gap-6 w-full">
                <div class="card bg-gray-900 shadow-lg rounded-xl overflow-hidden transition-transform transform hover:scale-105"
                    *ngFor="let rating of ratings | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                    <div class="card-body p-6">
                        <h5 class="card-title text-3xl font-bold text-gray-100 mb-4">{{ rating.rating }} &#9733;</h5>
                        <p class="card-text text-gray-300 mb-6">{{ rating.review }}</p>
                        <div class="text-gray-500 mb-6">
                            <p><span class="font-semibold">Event ID:</span> {{ rating.eventId }}</p>
                            <p><span class="font-semibold">User ID:</span> {{ rating.userId }}</p>
                        </div>
                        <button
                            class="w-full bg-gradient-to-r from-teal-500 to-cyan-500 text-white py-3 rounded-lg 
                                        hover:from-teal-600 hover:to-cyan-600 transition duration-300 font-bold text-lg shadow-md">
                            View Event
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-8 flex justify-center items-center space-x-6">
            <button
                class="px-6 py-3 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition duration-300 shadow-md w-32"
                (click)="p = p > 1 ? p - 1 : 1">Previous</button>
            <span class="px-4 py-2 bg-gray-800 text-gray-100 rounded-lg font-semibold text-lg shadow-md">Page {{ p
                }}</span>
            <button
                class="px-6 py-3 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition duration-300 shadow-md w-32"
                (click)="p = p + 1">Next</button>
        </div>
    </div>
</div>